<h3>CHAT</h3>
<h4 id="name"></h4>
<form id="chatForm">
    <input type="text" name="message" id="message">
    <input type="submit" value="SEND">
</form>

<div id="chat"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>