<h2>Login</h2>

<form action="/api/sessions/login" method="post">
  Email: <input type="text" name="email"><br><br>
  Contraseña: <input type="password" name="password"><br><br>

  <input type="submit" value="Iniciar sesión">

</form>

<button onclick="location.href='/api/sessions/auth/github'">GITHUB</button>
<button onclick="location.href='/api/sessions/auth/google'">GOOGLE</button>
<button onclick="location.href='/api/views/register'">Registrarse</button>
<button><a href="/api/views/forgot-password">RESTAURAR PASSWORD</a></button>